<?xml version="1.0"?>
<robot name="AR4" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import common properties and macros -->
  <xacro:include filename="common_properties.xacro" />

  <!-- Import arm description -->
  <xacro:include filename="arm.xacro" />
  
  <gazebo>
    <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ar4_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <xacro:arg name="is_gazebo_sim" default="true"/>
  <xacro:include filename="$(find ar4_description)/urdf/AR4.ros2_control.xacro" />
  <xacro:arduinobot_ros2_control is_gazebo_sim="$(arg is_gazebo_sim)"/>

</robot>